<%- include('header'); -%>

    <h2>Hii <%= firstName %>
            <%= middleName %>
                <%= lastName %>!!</h2>
    <p>Agent <%= agentFname %> <%= agentLname %> add some comments in the ticket.</p>
    <p>Please check it out and do the needfull, So that agent can work further.</p>
    <p>For keeping track on your ticket status, <a href="<%= url %>/<%= id %>">Click here</a></p>