<%- include('header'); -%>

    <h2>Hii <%= agentFname %>
            <%= agentLname %>!!</h2>
    <p>You have assiged a new ticket of <%= firstName %> <%= middleName %> <%= lastName %>.</p>
    <p>Kindly check it in your account and proceed further.</p>