<%- include('header'); -%>

    <h2>Hii <%= firstName %>
            <%= middleName %>
                <%= lastName %>!!</h2>
    <p> Your has been Ticket resolved by Agent <%= agentFname %>
            <%= agentLname %>.</p>
    <p>Please check it out.</p>
    <p>Also, please give your feedback for the agent.<br /><a href="<%= url %>/<%= token %>">Give
            feedback</a></p>