<%- include('header'); -%>

    <h2>Welcome to the Oraganization <%= firstName %> <%= middleName %> <%= lastName %>!!</h2>
    <p>Your Id is <%= email %>.</p>
    <p>Please click on this link to set your password.</p>
    <p><a href="<%= url %>/<%= token %>">Reset Password</a></p>

    <%- include('footer'); -%>