<%- include('header'); -%>

    <h2>Hii <%= firstName %> <%= middleName %> <%= lastName %>!!</h2>
    <p>Your support ticket generated successfully.</p>
    <p>For keeping track on your ticket status, <a href="<%= url %>/<%= id %>">Click here</a>
    </p>